.navbar-logo {
  height: $navbar-height - 7px;
  padding-left: 10px;
}

.navbar-default {
  border-top: none;
  border-left: none;
  border-right: none;
  border-radius: 0;
  border-bottom-width: 2px;

  margin-bottom: 0;
}

.navbar-header {
  line-height: $navbar-height - 7px;
}
